<div id="homeindex">
	<h1 id="title">Studio City</h1>


	<br>
	<h1 id="header">Menu</h1>
	<br>
	<h2 id="header">Indicas</h2>
	<% if @indicas.length > 0 %>
		<% @indicas.each do |x| %>
			<% if x.quantity > 0 %>
				<h4><%= x.name %> Gr: <%= x.donation_g %> Ei: <%= x.donation_e %> Ha: <%= x.donation_h %> Ou: <%= x.donation_o %></h4><br>
				<img id="image_loop" src="<%= x.image %>" alt="image">
			<% end %>
			<br>


			<% if current_user && current_user.admin %>
				<p>Edit <%= x.name %></p>
				<%= form_tag "/api/v1/edit_strain/#{x.id}", method: :post do %>
						Name: <input type="text" value="<%= x.name %>" name="name">
					<br>	
						Variety(Indica, Sativa, Concentrate, Edible): <input type="text" value="<%= x.variety %>" name="variety">
					<br>
						Donation G: <input type="text" value="<%= x.donation_g %>" name="donation_g">
					<br>
						Donation E<input type="text" value="<%= x.donation_e %>" name="donation_e">
					<br>
						Donation H: <input type="text" value="<%= x.donation_h %>" name="donation_h">
					<br>
						Donation O: <input type="text" value="<%= x.donation_o %>" name="donation_o">
					<br>
						Image: <input type="text" value="<%= x.image %>" name="strain_image">
					<br>
						Location: <input type="text" value="<%= x.location %>" name="location">
					<br>
						Quantity(in grms): <input type="text" value="<%= x.quantity %>" name="quantity">
					<br>
					<input type="submit" value="Update Strain">
					<% end %>
			<% end %>
			<br>
		<% end %>
	<% end %>
	<h2 id="header">Sativas</h2>
	<% if @sativas.length > 0 %>
		<% @sativas.each do |x| %>
			<% if x.quantity > 0 %>
				<h4><%= x.name %> Gr: <%= x.donation_g %> Ei: <%= x.donation_e %> Ha: <%= x.donation_h %> Ou: <%= x.donation_o %></h4><br>
				<img id="image_loop" src="<%= x.image %>" alt="image">
			<% end %>
			<br>


			<% if current_user && current_user.admin %>
				<p>Edit <%= x.name %></p>
				<%= form_tag "/api/v1/edit_strain/#{x.id}", method: :post do %>
						Name: <input type="text" value="<%= x.name %>" name="name">
					<br>	
						Variety(Indica, Sativa, Concentrate, Edible): <input type="text" value="<%= x.variety %>" name="variety">
					<br>
						Donation G: <input type="text" value="<%= x.donation_g %>" name="donation_g">
					<br>
						Donation E<input type="text" value="<%= x.donation_e %>" name="donation_e">
					<br>
						Donation H: <input type="text" value="<%= x.donation_h %>" name="donation_h">
					<br>
						Donation O: <input type="text" value="<%= x.donation_o %>" name="donation_o">
					<br>
						Image: <input type="text" value="<%= x.image %>" name="strain_image">
					<br>
						Location: <input type="text" value="<%= x.location %>" name="location">
					<br>
						Quantity(in grms): <input type="text" value="<%= x.quantity %>" name="quantity">
					<br>
					<input type="submit" value="Update Strain">
					<% end %>
				<% end %>
				<br>
		<% end %>
	<% end %>
	<h2 id="header">Concentrates</h2>
	<% if @concentrates.length > 0 %>
		<% @concentrates.each do |x| %>
			<% if x.quantity > 0 %>
				<h4><%= x.name %> Gr: <%= x.donation_g %> Ei: <%= x.donation_e %> Ha: <%= x.donation_h %> Ou: <%= x.donation_o %></h4><br>
				<img id="image_loop" src="<%= x.image %>" alt="image">
			<% end %>
			<br>


			<% if current_user && current_user.admin %>
				<p>Edit <%= x.name %></p>
				<%= form_tag "/api/v1/edit_strain/#{x.id}", method: :post do %>
						Name: <input type="text" value="<%= x.name %>" name="name">
					<br>	
						Variety(Indica, Sativa, Concentrate, Edible): <input type="text" value="<%= x.variety %>" name="variety">
					<br>
						Donation G: <input type="text" value="<%= x.donation_g %>" name="donation_g">
					<br>
						Donation E<input type="text" value="<%= x.donation_e %>" name="donation_e">
					<br>
						Donation H: <input type="text" value="<%= x.donation_h %>" name="donation_h">
					<br>
						Donation O: <input type="text" value="<%= x.donation_o %>" name="donation_o">
					<br>
						Image: <input type="text" value="<%= x.image %>" name="strain_image">
					<br>
						Location: <input type="text" value="<%= x.location %>" name="location">
					<br>
						Quantity(in grms): <input type="text" value="<%= x.quantity %>" name="quantity">
					<br>
					<input type="submit" value="Update Strain">
					<% end %>
				<% end %>
				<br>
		<% end %>
	<% end %>
	<h2 id="header">Edibles</h2>
	<% if @edibles.length > 0 %>
		<% @edibles.each do |x| %>
			<% if x.quantity > 0 %>
				<h4><%= x.name %> Gr: <%= x.donation_g %> Ei: <%= x.donation_e %> Ha: <%= x.donation_h %> Ou: <%= x.donation_o %></h4><br>
				<img id="image_loop" src="<%= x.image %>" alt="image">
			<% end %>
			<br>


			<% if current_user && current_user.admin %>
				<p>Edit <%= x.name %></p>
				<%= form_tag "/api/v1/edit_strain/#{x.id}", method: :post do %>
						Name: <input type="text" value="<%= x.name %>" name="name">
					<br>	
						Variety(Indica, Sativa, Concentrate, Edible): <input type="text" value="<%= x.variety %>" name="variety">
					<br>
						Donation G: <input type="text" value="<%= x.donation_g %>" name="donation_g">
					<br>
						Donation E<input type="text" value="<%= x.donation_e %>" name="donation_e">
					<br>
						Donation H: <input type="text" value="<%= x.donation_h %>" name="donation_h">
					<br>
						Donation O: <input type="text" value="<%= x.donation_o %>" name="donation_o">
					<br>
						Image: <input type="text" value="<%= x.image %>" name="strain_image">
					<br>
						Location: <input type="text" value="<%= x.location %>" name="location">
					<br>
						Quantity(in grms): <input type="text" value="<%= x.quantity %>" name="quantity">
					<br>
					<input type="submit" value="Update Strain">
					<% end %>
				<% end %>
				<br>
		<% end %>
	<% end %>
	<br>
	<h1 id="header">Gear</h1>
	<br>
	<% if @items.length > 0 %>
		<% @items.each do |x| %>
				<div id="itemBorder">
					<% if x.quantity > 0 %>
						<h4><%= x.name %></h4>
						<p><%= x.description %></p>
						<h8>Per Unit: <p><%= x.cost %></p></h8>
						<img id="image_loop" src="<%= x.image %>" alt="image">
					<% end %>

					<% if current_user && current_user.admin %>
						<p>Edit <%= x.name %></p>
						<%= form_tag "/api/v1/edit_item/#{x.id}", method: :post do %>
						<br>
							Name: <input type="text" name="name" value="<%= x.name %>">
						<br>
							Description: <input type="text" name="description" value="<%= x.description %>">
						<br>
							Cost: <input type="text" name="cost" value="<%= x.cost %>">
						<br>
							Quantity: <input type="text" name="quantity" value="<%= x.quantity %>">
						<br>
							Location(Long Beach, Studio City, or LB ST): <input type="text" name="location" value="<%= x.location %>">
						<br>
							Image: <input type="text" name="image" value="<%= x.image %>">
						<br>
						<input type="submit" value="Update Item">
						<% end %>
					<% end %>
				</div>

		<% end %>
	<% end %>
			<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
				<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	<% if current_user && current_user.admin %>
		<h2>Add a Strain</h2>
		<%= form_tag "api/v1/add_strain", method: :post do %>
		<br>
			Name: <input type="text" name="name">
		<br>	
			Variety(Indica, Sativa, Concentrate, Edible): <input type="text" name="variety">
		<br>
			Donation G: <input type="text" name="donation_g">
		<br>
			Donation E: <input type="text" name="donation_e">
		<br>
			Donation H: <input type="text" name="donation_h">
		<br>
			Donation O: <input type="text" name="donation_o">
		<br>
			Image: <input type="text" name="strain_image">
		<br>
			Location(Long Beach, Studio City, or LB ST): <input type="text" name="location">
		<br>
			Quantity(in grms): <input type="text" name="quantity">
		<br>
		<input type="submit" value="Create Strain">
		<% end %>
		<br>
		<h2>Add an Item</h2>
		<%= form_tag "/api/v1/add_item", method: :post do %>
		<br>
			Name: <input type="text" name="name">
		<br>
			Description: <input type="text" name="description">
		<br>
			Cost: <input type="text" name="cost">
		<br>
			Quantity: <input type="text" name="quantity">
		<br>
			Location(Long Beach, Studio City, or LB ST): <input type="text" name="location">
		<br>
			Image: <input type="text" name="image">
		<br>
		<input type="submit" value="Create Item">
		<% end %>
		<br>
		<%= button_to "Signout Admin", "/api/v1/signout", method: :get %>
		<br>
	<% end %>

	<br>
	<% if !current_user %>
		<p>Admin Signin</p>
		<%= form_tag "/api/v1/home/signin", method: :post do %>
			Username: <input type="text" name="username">
			<br>
			Password: <input type="password" name="password">
			<br>
			<input type="submit" value="Submit">
		<% end %>
		<br>
	<% end %>
</div>
